<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Read</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    {% if post.head_image %}
    <div>
        <img src="{{ post.head_image.url }}">
    </div>
    {% endif %}
    <p>{{ post.content }}</p>
    <div>
        <a href="{% url 'landing:update' post.id %}">
            Edit
        </a>
    </div>
    <div>
        <a href="{% url 'landing:delete' post.id %}">
            Delete
        </a>
    </div>
</body>
</html>