<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <p>오늘 날씨는 {{ weather }}이며, 온도는 섭씨 {{ tempature }}도 입니다.</p>
    <p>내일 날씨는 {{ weather_data.weather }}이며, 온도는 섭씨 {{ weather_data.temperature }}도 입니다.</p>
    {% for player in football_players %}
    <p>{{ player.name }}은 {{player.team}} 소속 입니다.</p>
    {% endfor %}
    {% for player in baseball_players %}
    <p>{{ player.name }}은 {{player.team}} 소속 입니다.</p>
    {% empty %}
    <p>야구선수는 없슴다..</p>
    {% endfor %} -->
    <!-- <p>
        오늘의 기온은
        {% if not weather.temperature %}
        알 수 없습니다.
        {% elif weather.temperature < 10 %}
        {{ weather.temperature }}도 이며, 매우 춥습니다.
        {% elif weather.temperature > 30 %}
        {{ weather.temperature }}도 이며, 매우 덥습니다.
        {% else %}
        {{ weather.temperature }}도 이며, 매우 애매합니다.
        {% endif %}
    </p> -->
    <!-- {% lorem 3 p random %} -->
    {% now "jS F Y H: i" %}<br>
    {% now "Y-m-d"%}<br>
    {{ football_players | length }}
    <h1>{% url 'landing:home' %}</h1>
</body>
</html>