<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>한상훈의 자기소개</title>
  </head>
  <body>
    <h1> 자기소개 </h1>
    <h2>이름</h2>
    <p>한상훈</p>

    <h2>좋아하는 음식</h2>
    <ul>
      <li> 짜장면 </li>
      <li> 햄버거 </li>
      <li> 피자 </li>
    </ul>
    <h2>싫어하는 음식</h2>
    <ol>
      <li>당근</li>
      <li>고수</li>
    </ol>
    <h2>추가 페이지</h2>
    <ul>
      <li>
        <a href="pokeball.html">몬스터볼</a>
      </li>
      <li>
        <a href="lorem.html">로렘입숨</a>
      </li>
    </ul>
  </body>
</html>
